<nav> 
    <ul>
      <!-- <li><a href="">Home</a></li> -->
      <li><mat-icon [routerLink]="['/portal']" routerLinkActive="class1">how_to_vote</mat-icon>Election Portal</li>
      <li *ngIf="role == 'Teacher'"><mat-icon routerLinkActive="class1" [routerLink]="['/customize']">build</mat-icon>Customize</li>
      <!-- <li *ngIf="role == 'Teacher'"><a [routerLink]="['/results']" (click)="selected('results')">Results</a></li> -->
      <li *ngIf="role == 'Teacher'"><mat-icon routerLinkActive="class1" [routerLink]="['/results']">list_alt</mat-icon>Results</li>
      <li *ngIf="role == 'Teacher'"><mat-icon routerLinkActive="class1" [routerLink]="['/change-password']">lock</mat-icon>Password</li>
    </ul>
    <br><br>
    You are logged in as <b>{{role}}</b>.<br>
    Click here to logout. <a href="">Logout</a>
  </nav>