<form #test="ngForm">
    <table>
        <tr>
            <td>
                <h1>Yellow</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 1</mat-label>
                          <input [(ngModel)]="Yellow_G1" matInput required #YellowG1field = "ngModel" name="Yellow_G1">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 1</mat-label>
                              <input [(ngModel)]="Yellow_B1" matInput required #YellowB1field = "ngModel" name="Yellow_B1">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 2</mat-label>
                          <input [(ngModel)]="Yellow_G2" matInput required #YellowG2field = "ngModel" name="Yellow_G2">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 2</mat-label>
                              <input [(ngModel)]="Yellow_B2" matInput required #YellowB2field = "ngModel" name="Yellow_B2">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 3</mat-label>
                          <input [(ngModel)]="Yellow_G3" matInput required #YellowG3field = "ngModel" name="Yellow_G3">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 3</mat-label>
                              <input [(ngModel)]="Yellow_B3" matInput required #YellowB3field = "ngModel" name="Yellow_B3">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 4</mat-label>
                          <input [(ngModel)]="Yellow_G4" matInput required #YellowG4field = "ngModel" name="Yellow_G4">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 4</mat-label>
                              <input [(ngModel)]="Yellow_B4" matInput required #YellowB4field = "ngModel" name="Yellow_B4" >
                            </mat-form-field></div></td>
                    </tr>

            </table>
</td>
</tr>
</table>
</form>
<br>
<span>
  <button mat-raised-button (click)="onSubmit(test)">Submit</button>
</span>
<span style="margin-left: 20px;">
  <button mat-raised-button (click)="ClearForm(test)">Reset</button>
</span>
