<form #test="ngForm">
    <table>
        <tr>
            <td>
                <h1>Blue</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 1</mat-label>
                          <input [(ngModel)]="Blue_G1" matInput required #BlueG1field = "ngModel" name="Blue_G1">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 1</mat-label>
                              <input [(ngModel)]="Blue_B1" matInput required #BlueB1field = "ngModel" name="Blue_B1">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 2</mat-label>
                          <input [(ngModel)]="Blue_G2" matInput required #BlueG2field = "ngModel" name="Blue_G2">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 2</mat-label>
                              <input [(ngModel)]="Blue_B2" matInput required #BlueB2field = "ngModel" name="Blue_B2">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 3</mat-label>
                          <input [(ngModel)]="Blue_G3" matInput required #BlueG3field = "ngModel" name="Blue_G3">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 3</mat-label>
                              <input [(ngModel)]="Blue_B3" matInput required #BlueB3field = "ngModel" name="Blue_B3">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 4</mat-label>
                          <input [(ngModel)]="Blue_G4" matInput required #BlueG4field = "ngModel" name="Blue_G4">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 4</mat-label>
                              <input [(ngModel)]="Blue_B4" matInput required #BlueB4field = "ngModel" name="Blue_B4" >
                            </mat-form-field></div></td>
                    </tr>

            </table>
</td>
</tr>
</table>
</form>
<br>
<span>
  <button mat-raised-button color="primary" (click)="onSubmit(test)">Submit</button>
</span>
<span style="margin-left: 20px;">
  <button mat-raised-button (click)="ClearForm(test)">Reset</button>
</span>
