<h1>Election Portal</h1>
<app-sidenav></app-sidenav>
  <div class="mainground">
  <form #test="ngForm" id="stu">
      <mat-form-field>
        <mat-label>Select your house</mat-label>
        <mat-select id="mySelect" [(ngModel)]="selected" name="house" required (ngModelChange)="myFunction()" #housefield=ngModel>
          <mat-option>None</mat-option>
          <mat-option value="Red">Red</mat-option>
          <mat-option value="Blue">Blue</mat-option>
          <mat-option value="Green">Green</mat-option>
          <mat-option value="Yellow">Yellow</mat-option>
        </mat-select>
        <mat-error>
          <div *ngIf = "housefield.errors?.required">It is mandatory.</div>
        </mat-error>
      </mat-form-field>
      
      <p [ngStyle]="{backgroundColor:fontColor}" style="color: white; font-weight: bold;">You selected: {{selected}}</p><br>

      <table>
        <tr>
          <th>
            <!-- Headboy -->
      <label id="example-radio-group-label">Select your favorite head BOY</label>
      <mat-radio-group required
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteheadboy" name="headboy">
        <mat-radio-button class="example-radio-button" *ngFor="let headboy of headboys" required [value]="headboy">
          <span [ngStyle]="{color: fontColor}">{{headboy}}</span>
        </mat-radio-button>
      </mat-radio-group>
      <div>Your favorite headboy is: {{favoriteheadboy}}</div>
      
          </th>
          <th>
          <!-- Headgirl -->

            <label id="example-radio-group-label">Select your favorite head GIRL</label>
            <mat-radio-group required
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteheadgirl" name="headgirl">
              <mat-radio-button class="example-radio-button" *ngFor="let headgirl of headgirls" [value]="headgirl">
                <span [ngStyle]="{color: fontColor}">{{headgirl}}</span>
              </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite headgirl is: {{favoriteheadgirl}}</div>
            </th>
        </tr>
      </table>

      
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit(test)" [disabled]=btndisable(test)>Submit</button>
    <br><br>
    <span *ngIf="role =='Teacher'">
      <b><u>Note:</u></b><br>
      When teacher submits vote for testing, he/she has to go in <a [routerLink]="['/results']">results</a> section to check by his/her own.
    <br>
    <!-- <h2>Reset Last Vote</h2>
    <p>Last Vote is :</p>
    <p>link</p> -->
  </span>
  </div>

