<h1>Election Portal</h1>
<app-sidenav></app-sidenav>
  <div class="mainground">
  <form #test="ngForm">
      <mat-form-field>
        <mat-label>Select your house</mat-label>
        <mat-select id="mySelect" [(ngModel)]="selected" name="house" (ngModelChange)="myFunction()">
          <mat-option>None</mat-option>
          <mat-option value="Red">Red</mat-option>
          <mat-option value="Blue">Blue</mat-option>
          <mat-option value="Green">Green</mat-option>
          <mat-option value="Yellow">Yellow</mat-option>
        </mat-select>
      </mat-form-field>
      
      <p>You selected: {{selected}}</p><br>

      <table>
        <tr>
          <th>
            <!-- Headboy -->
      <label id="example-radio-group-label">Select your favorite head BOY</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="favoriteheadboy" name="headboy">
        <mat-radio-button class="example-radio-button" *ngFor="let headboy of headboys" [value]="headboy">
          {{headboy}}
        </mat-radio-button>
      </mat-radio-group>
      <div>Your favorite headboy is: {{favoriteheadboy}}</div>
      
          </th>
          <th>
          <!-- Headgirl -->

            <label id="example-radio-group-label">Select your favorite head GIRL</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="favoriteheadgirl" name="headgirl">
              <mat-radio-button class="example-radio-button" *ngFor="let headgirl of headgirls" [value]="headgirl">
                {{headgirl}}
              </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite headgirl is: {{favoriteheadgirl}}</div>
            </th>
        </tr>
      </table>

      
    </form>
    <button mat-raised-button (click)="onSubmit(test)">Submit</button>
  </div>
      
