<h1>Election Portal</h1>
<app-sidenav></app-sidenav>
<div class="mainground">
  <form #test="ngForm" id="stu">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter Old password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <!-- <mat-error>
          <div *ngIf="BlueG1field.errors?.required">It is mandatory.</div>
        </mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter New password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Confirm New password</mat-label>
        <input matInput [type]="hide3 ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide3 = !hide3"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide3 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit(test)"
    [disabled]="btndisable(test)"
  >
    Submit
  </button>
  <br /><br />
</div>
