app-sidenav {
    float: left;
    width: 10%;
    height: 757px;
    background: #ccc;
    padding: 0px;
  }
  .mainground {
    float: left;
    padding: 10px;
    width: 55%;
    background-color: #f1f1f1;
    height: 757px; /* only for demonstration, should be removed */
  }

  h1 {
    background-color: #FF4500;
    margin: 0px;
  }
  table {
    width: 80%;
    margin: 5%;
    overflow: hidden; /* Hide scrollbars */
  }
  /* style {
    width: 900px;
  } */