<h1>Login</h1>
<mat-card>
  <p style="text-align: center;font-weight: bold;">Login</p>
  <form #login="ngForm">
    <mat-form-field class="example-full-width">
        <mat-label>Role</mat-label>
        <mat-select required [(ngModel)]="role" name ="role" #rolefield = "ngModel">
        <mat-option value="Teacher">Teacher</mat-option>
        <mat-option value="Student">Student</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button style="align-items: center;" mat-raised-button color="primary" (click)="onSubmit(login)">Send OTP</button>
    <br>
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput required type="password" [(ngModel)]="password" name="password" #passwordfield = "ngModel" (keyup.enter)="onSubmit(login)">
    <mat-error>
      <div *ngIf = "passwordfield.errors?.required">It is mandatory.</div>
    </mat-error>
  </mat-form-field>
  <br>
  </form>
<button style="align-items: center;" mat-raised-button color="primary" (click)="onSubmit(login)" [disabled]=btndisable(login)>Submit</button>
</mat-card>