<form #test="ngForm">
    <table>
        <tr>
            <td>
                <h1>Red</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 1</mat-label>
                          <input matInput>
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 1</mat-label>
                              <input matInput>
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 2</mat-label>
                          <input matInput>
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 2</mat-label>
                              <input matInput>
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 3</mat-label>
                          <input matInput>
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 3</mat-label>
                              <input matInput>
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 4</mat-label>
                          <input matInput>
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 4</mat-label>
                              <input matInput >
                            </mat-form-field></div></td>
                    </tr>

            </table>
</td>
</tr>
</table>
</form>
<button mat-raised-button (click)="onSubmit()">Submit</button>