<form #test="ngForm">
    <table>
        <tr>
            <td>
                <h1>Green</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 1</mat-label>
                          <input [(ngModel)]="Green_G1" matInput required #GreenG1field = "ngModel" name="Green_G1">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 1</mat-label>
                              <input [(ngModel)]="Green_B1" matInput required #GreenB1field = "ngModel" name="Green_B1">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 2</mat-label>
                          <input [(ngModel)]="Green_G2" matInput required #GreenG2field = "ngModel" name="Green_G2">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 2</mat-label>
                              <input [(ngModel)]="Green_B2" matInput required #GreenB2field = "ngModel" name="Green_B2">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 3</mat-label>
                          <input [(ngModel)]="Green_G3" matInput required #GreenG3field = "ngModel" name="Green_G3">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 3</mat-label>
                              <input [(ngModel)]="Green_B3" matInput required #GreenB3field = "ngModel" name="Green_B3">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 4</mat-label>
                          <input [(ngModel)]="Green_G4" matInput required #GreenG4field = "ngModel" name="Green_G4">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 4</mat-label>
                              <input [(ngModel)]="Green_B4" matInput required #GreenB4field = "ngModel" name="Green_B4">
                            </mat-form-field></div></td>
                    </tr>

            </table>
</td>
</tr>
</table>
</form>
<br>
<span>
  <button mat-raised-button color="primary" (click)="onSubmit(test)">Submit</button>
</span>
<span style="margin-left: 20px;">
  <button mat-raised-button (click)="ClearForm(test)">Reset</button>
</span>
