<mat-tab-group>
  <mat-tab label="Red"> <app-red-customize></app-red-customize> </mat-tab>
  <mat-tab label="Blue"> <app-blue-customize></app-blue-customize> </mat-tab>
  <mat-tab label="Green"> <app-green-customize></app-green-customize> </mat-tab>
  <mat-tab label="Yellow"> <app-yellow-customize></app-yellow-customize> </mat-tab>
</mat-tab-group>



<!-- <h1>Customize</h1>
<form #test="ngForm">
    <table>
        <tr>
            <td>
                <h1>Red</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 1</mat-label>
                          <input matInput [(ngModel)]=r_girl1 #R_Girl1="ngModel" name="red_girl1">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 1</mat-label>
                              <input matInput [(ngModel)]=r_boy1 #R_Boy1="ngModel" name="red_boy1">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 2</mat-label>
                          <input matInput [(ngModel)]=r_girl2 #R_Girl2="ngModel" name="red_girl2">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 2</mat-label>
                              <input matInput [(ngModel)]=r_boy2 #R_Boy2="ngModel" name="red_boy2">
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 3</mat-label>
                          <input matInput [(ngModel)]=r_girl3 #R_Girl3="ngModel" name="red_girl3">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 3</mat-label>
                              <input matInput>
                            </mat-form-field></div></td>
                    </tr>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Girl candidate 4</mat-label>
                          <input matInput [(ngModel)]=r_girl4 #R_Girl3="ngModel" name="red_girl4">
                        </mat-form-field></div></td>
                        <td><div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Boy candidate 4</mat-label>
                              <input matInput>
                            </mat-form-field></div></td>
                    </tr>

            </table>
            <td>
                <h1>Yellow</h1>
                <table>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 1</mat-label>
                        <input matInput [(ngModel)]=y_girl1 #Y_Girl1="ngModel" name="yellow_girl1">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 1</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 2</mat-label>
                        <input matInput [(ngModel)]=y_girl2 #Y_Girl2="ngModel" name="yellow_girl2">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 2</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 3</mat-label>
                        <input matInput [(ngModel)]=y_girl3 #Y_Girl3="ngModel" name="yellow_girl3">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 3</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 4</mat-label>
                        <input matInput [(ngModel)]=y_girl4 #Y_Girl4="ngModel" name="yellow_girl4">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 4</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>

          </table>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Green</h1>
                <table>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 1</mat-label>
                        <input matInput [(ngModel)]=g_girl1 #G_Girl1="ngModel" name="green_girl1">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 1</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 2</mat-label>
                        <input matInput [(ngModel)]=g_girl2 #G_Girl2="ngModel" name="green_girl2">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 2</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 3</mat-label>
                        <input matInput [(ngModel)]=g_girl3 #G_Girl3="ngModel" name="green_girl3">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 3</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 4</mat-label>
                        <input matInput [(ngModel)]=g_girl4 #G_Girl4="ngModel" name="green_girl4">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 4</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>

          </table>
            </td>
            <td>
                <h1>Blue</h1>
                <table>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 1</mat-label>
                        <input matInput [(ngModel)]=b_girl1 #B_Girl1="ngModel" name="blue_girl1">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 1</mat-label>
                            <input matInput [(ngModel)]=b_girl2 #B_Girl2="ngModel" name="blue_girl2">
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 2</mat-label>
                        <input matInput [(ngModel)]=b_girl3 #B_Girl3="ngModel" name="blue_girl3">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 2</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 3</mat-label>
                        <input matInput [(ngModel)]=b_girl4 #B_Girl4="ngModel" name="blue_girl4">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 3</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>
                  <tr><td><div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Girl candidate 4</mat-label>
                        <input matInput [(ngModel)]=b_girl4 #B_Girl4="ngModel" name="blue_girl4">
                      </mat-form-field></div></td>
                      <td><div class="example-container">
                          <mat-form-field appearance="fill">
                            <mat-label>Boy candidate 4</mat-label>
                            <input matInput>
                          </mat-form-field></div></td>
                  </tr>

          </table>
            </td>
        </tr>
        
    </table>
    <br>
  </form>
    <button mat-raised-button (click)="onSubmit()">Submit</button> -->