table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  app-sidenav {
    float: left;
    width: 10%;
    height: 938px; 
    background: #ccc;
    padding: 0px;
  }
  .mainground {
    float: left;
    padding: 10px;
    width: 90%;
    background-color: #f1f1f1;
    height: 938px;  /* only for demonstration, should be removed */
  }

  h1 {
    background-color: #FF4500;
    margin: 0px;
  }
  