<h1>Customize</h1>
    <table>
        <tr>
            <td>
                <h1>House 1</h1>
                <table>
                    <tr><td><div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Input</mat-label>
                          <input matInput>
                        </mat-form-field></div></td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
            </table>
            <td>
                <h1>House 2</h1>
                <table>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
            </table>
            </td>
        </tr>
        <tr>
            <td>
                <h1>House 3</h1>
                <table>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
            </table>
            </td>
            <td>
                <h1>House 4</h1>
                <table>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
                    <tr><td>girl</td>
                        <td>boy</td>
                    </tr>
            </table>
            </td>
        </tr>
        
    </table>
    <br>
    <button mat-raised-button>Submit</button>